
/* p {
    background-color: orange;
    padding: 5px;
    margin: 10px;
    color: white;
    border: 3px solid black;
}

h4 {
    background-color: rebeccapurple;
    padding: 3px;
    margin: 10px;
    color: white;
    border: 3px solid black;
} */

/*form template driven forms */
/* input.ng-invalid.ng-dirty.ng-touched{
    border: 1px solid red;
}

input.ng-valid.ng-touched{
    border: 1px solid green;
} */

// for reactive forms :
