<!--<h5> user Age is {{userAge}} </h5>
<h5> user Name is {{userName}} </h5>
<h5> user Email is {{userEmail}} </h5>
<h5> user userPhone is  {{userPhone}} </h5>

<ng-content select="h5.bg-danger"></ng-content>-->



<!--<ng-content select=".first-el"></ng-content>
<ng-content select=".second-el"></ng-content>-->

<h5 class="bg-danger text-white p-1 m-1"> user Age is {{userAge}} </h5>
<h5 class="bg-danger text-white p-1 m-1"> user Name is {{userName}} </h5>
<h5 class="bg-danger text-white p-1 m-1"> user Email is {{userEmail}} </h5>
<h5 class="bg-danger text-white p-1 m-1"> user userPhone is  {{userPhone}} </h5>
 





