<div class="bg-secondary p-5 m-1">
    <h2 class="bg-primary text-white p-5 text-capitalize">From Home Component</h2>


<div class="bnts d-flex justify-content-between">
  <button class="btn btn-dark" (click)="doGet()">get</button>
  <button class="btn btn-dark" (click)="doGetById()">getByParams</button>
    <button class="btn btn-dark" (click)="doPost()">create</button>
    <button class="btn btn-dark" (click)="doupdate()">update</button>
    <button class="btn btn-dark" (click)="doPatch()">doPatch</button>
    <button class="btn btn-dark" (click)="doDelete()">Delete</button>
</div>
</div>
